@charset "UTF-8";
body {
     -ms-overflow-style: none; 
    &::-webkit-scrollbar {
         display: none; 
    }
}
#wrap {
    header {
        position: relative;
        width: 100%;
        z-index: 1000;
        >.header {
            position: fixed;
            width: 100%;
            background-color: #fff;
            border-bottom: 1px solid #000;
            >.header-con {
                position: relative;
                width: 1340px;
                height: 120px;
                margin: 0 auto;
                >.monami-logo {
                    position: absolute;
                    left: 50%;
                    bottom: 20px;
                    width: 150px;
                    margin-left: -600px;
                    text-indent: -9999px;
                    background-image: url(./../image/monami_logo.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    >a {
                        display: block;
                        height: 50px;
                    }
                }//end of .monami-logo
                >nav {
                    position: absolute;
                    right: 0;
                    >.gnb {
                        display: flex;
                        flex-flow: row nowrap;
                        >li {
                            width: 180px;
                            margin-left: 10px;
                            // border: 1px solid #000;
                            >a {
                                display: block;
                                padding: 68px 0 30px;
                                color: rgba(0, 0, 0, 0.603);
                                font-size: 16px;
                                text-align: center;
                            }
                            &:nth-child(1) {
                                background-color: rgba(255, 0, 0, 0.5);
                            }
                            @keyframes navRed {
                                from {transform: rotateY(0);}
                                to {transform: rotateY(180deg); background-color: red;}
                            }
                            @keyframes navRedRe {
                                from {transform: rotateY(180deg); background-color: red;}
                                to {transform: rotateY(0);}
                            }
                            &:nth-child(2) {
                                background-color: rgb(255, 155, 0);
                                >a {
                                    color: white;
                                }
                            }
                            @keyframes navOrg {
                                from {transform: rotateY(0);}
                                to {transform: rotateY(180deg); background-color: orange;}
                            }
                            &:nth-child(3) {
                                background-color: rgba(251, 255, 0, 0.5);
                            }
                            @keyframes navYel {
                                from {transform: rotateY(0);}
                                to {transform: rotateY(180deg); background-color: yellow;}
                            }
                            &:nth-child(4) {
                                background-color: rgba(0, 189, 0, 0.5);
                            }
                            @keyframes navGrn {
                                from {transform: rotateY(0);}
                                to {transform: rotateY(180deg); background-color: rgb(0, 189, 0);}
                            }
                            
                            @keyframes navText {
                                from {transform: rotateY(0);}
                                to {transform: rotateY(180deg);}
                            }
                        }//end of li
                    }//end of .gnb
                } //end of nav
            }//end of .header-con
        } //end of header
    }
    section {
        position: relative;
        top: 120px;
        z-index: 500;
        
        >.section-con {
            width: 100%;
            
            >ul {
                position: absolute;
                left: 50%;
                margin-left: -720px;
                width: 1440px;
                height: calc(720px * 6 + 120px);

                >li {
                    position: relative;
                    width: 100%;
                    height: 720px;
                    // text-indent: -99999px;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    &.process01 {background-image: url(./../image/mass_process_01.png);}
                    &.process02 {background-image: url(./../image/mass_process_02.png);}
                    &.process03 {background-image: url(./../image/mass_process_03.png);}
                    &.process04 {background-image: url(./../image/mass_process_04.png);}
                    &.process05 {background-image: url(./../image/mass_process_05.png);}
                    &.process06 {background-image: url(./../image/mass_process_06.png);}
                    >.text {
                        display: none;
                        position: absolute;
                        top: 100px;
                        right: 50%;
                        width: 300px;
                        margin-right: -600px;
                        text-align: center;
                    }
                }//end of li
            }
        }//end of .section-con
    }//end of section
    aside {
        position: fixed;
        right: 50px;
        bottom: 120px;
        z-index: 1000;
        >button {
            outline: none;
            border: none;
            background: none;

            width: 40px;
            height: 40px;
            color: grey;
            background-color: rgb(230, 230, 230);
            border-radius: 20px;
            &:hover {
                color: white;
                background-color: rgba(255, 131, 141, 0.575);
                cursor: pointer;
            }
        }
    }//end of aside
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: right;
        background-color: rgb(230, 230, 230);
        z-index: 1000;
        >ul {
            padding: 25px 20px 0 ;
            >li{
                color: grey;
                font-size: 12px;
                &:nth-child(1) {
                    color: rgb(50,50,50);
                }
            }
        }
    } //end of footer
}